body{

font-family:Arial,sans-serif;
background:#0f172a;
color:white;
margin:0;
padding:30px;

}

.container{

max-width:1000px;
margin:auto;

}

h1{

text-align:center;

}

.card{

background:#1e293b;
padding:20px;
border-radius:15px;
margin-top:20px;

}

.summary-box{

white-space:pre-wrap;
line-height:1.8;

}

button{

padding:10px 20px;
border:none;
border-radius:10px;
cursor:pointer;

}

.flashcard-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

margin-top:20px;

}

.flashcard{

background:#38bdf8;

color:black;

padding:20px;

border-radius:15px;

cursor:pointer;

min-height:150px;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

font-weight:bold;

}

.flashcard .back{

display:none;

}

.flashcard.flipped .front{

display:none;

}

.flashcard.flipped .back{

display:block;

}